<div class="canvas gray100-canvas embossed">
  <div class="card shadow-sm border-0">
    <div class="card-body p-0">
      <div class="d-none d-xl-grid px-2 py-2 border-bottom text-muted small fw-semibold"
          style="grid-template-columns: 100px 240px 120px 100px 100px 100px 120px;">
        <div>Position</div>
        <div><%= sortable(column: 'parkrun', coltitle: 'Name', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></div>
        <div><%= sortable(column: 'count', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></div>
        <div><%= sortable(column: 'fastest', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></div>
        <div><%= sortable(column: 'median', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></div>
        <div><%= sortable(column: 'slowest', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></div>
        <div><%= sortable(column: 'avg_age', coltitle: 'Average Age', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></div>
      </div>

      <div class="list-group list-group-flush">
        <% @venue_stats.each_with_index do |stat, index| %>
            <div class="list-group-item py-1 border-0 border-bottom">

              <%# MOBILE & SMALL %>
              <div class="d-flex d-xl-none flex-column gap-1">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center gap-2">
                    <div class="badge bg-primary-subtle text-primary-emphasis rounded-pill py-1 fw-semibold">
                      <%= number_with_delimiter(index +1) %>
                    </div>
                    <div class="fw-semibold text-body">
                      <%= stat.parkrun %>
                    </div>
                  </div>
                  <div class="fw-semibold">
                    <%= number_with_delimiter(stat.count) %>
                  </div>
                </div>
                <div class="text-muted small">
                  <i class="bi bi-lightning-charge"></i>
                  <span><%= min_sec_format(stat.fastest) %></span>
                  <span class="mx-1">•</span>
                  <i class="bi bi-bullseye"></i>
                  <span><%= min_sec_format(stat.median) %></span>
                  <span class="mx-1">•</span>
                  <i class="bi bi-hourglass-split"></i>
                  <span><%= min_sec_format(stat.slowest) %></span>
                  <span class="mx-1">•</span>
                  <i class="bi bi-person"></i>
                  <span><%= number_with_precision(stat.avg_age, precision: 1) %></span>
                </div>
              </div>

              <%# DESKTOP %>
              <div class="d-none d-xl-grid text-muted small align-items-center"
                    style="grid-template-columns: 100px 240px 120px 100px 100px 100px 120px;">
                <div class="d-flex align-items-center">
                  <div class="badge bg-primary-subtle text-primary-emphasis rounded-pill px-2 py-1 fw-semibold">
                    <%= number_with_delimiter(index +1) %>
                  </div>
                </div>
                <div class="fw-semibold text-body">
                  <%= link_to stat.parkrun, runs_path(filters: {runs: {venue: stat.parkrun, date: @date}}, link_from: 'venue_stats'), class: 'like_button', data: { turbo_frame: stat.parkrun.parameterize} %>
                  <%#= stat.parkrun %>
                </div>
                <div>
                  <%= number_with_delimiter(stat.count) %>
                </div>
                <div>
                  <%= min_sec_format(stat.fastest) %>
                </div>
                <div>
                  <%= min_sec_format(stat.median) %>
                </div>
                <div>
                  <%= min_sec_format(stat.slowest) %>
                </div>
                <div>
                  <%= number_with_precision(stat.avg_age, precision: 1) %>
                </div>
              </div>

            </div>
          <%= turbo_frame_tag stat.parkrun.parameterize %>
        <% end %>
      </div>

      <% if @venue_stats.blank? %>
        <div class="px-3 py-4 text-center text-muted">
          No venues to display yet.
        </div>
      <% end %>
    </div>
  </div>
</div>

