<div class="d-none d-xl-block">
  <table class="table runs-table">
    <thead class="runs-thead">
      <tr>
        <th></th>
        <th class="sortable"><%= sortable(column: 'parkrun', coltitle: 'Name', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></th>
        <th class="sortable"><%= sortable(column: 'count', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></th>
        <th class="sortable"><%= sortable(column: 'fastest', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></th>
        <th class="sortable"><%= sortable(column: 'median', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></th>
        <th class="sortable"><%= sortable(column: 'slowest', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></th>
        <th class="sortable"><%= sortable(column: 'avg_age', coltitle: 'Average Age', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></th>
      </tr>
    </thead>
    <tbody>
      <% @venue_stats.each_with_index do |stat, index| %>
      <tr>
        <td>
          <span class="badge rounded-pill bg-primary-subtle text-primary-emphasis">
            <%= number_with_delimiter(stat_counter + 1) %>
          </span>
        </td>
        <td class="runs-venue">
          <%= link_to stat.parkrun, runs_path(filters: {runs: {venue: stat.parkrun, date: @date}}, link_from: 'venue_stats'),
                      class: 'like_button text-white',
                      data: { turbo_frame: stat.parkrun.parameterize} %></td>
        <td class="runs-count"><%= number_with_delimiter(stat.count) %></td>
        <td class="runs-time"><%= min_sec_format(stat.fastest) %></td>
        <td class="runs-time"><%= min_sec_format(stat.median) %></td>
        <td class="runs-time"><%= min_sec_format(stat.slowest) %></td>
        <td class="runs-avgage"><%= number_with_precision(stat.avg_age, precision: 1) %></td>
      </tr>
      <%= turbo_frame_tag stat.parkrun.parameterize %>
      <%= render partial: "venue_stats/screensize/row", collection: @venue_stats, as: :stat %>
    </tbody>
  </table>
</div>

<div class="list-group list-group-flush d-xl-none">
  <%= render partial: "venue_stats/screensize/card", collection: @venue_stats, as: :stat %>
</div>