<div class="d-none d-xl-block">
  <table class="table runs-table">
    <thead class="runs-thead">
      <tr>
        <th></th>
        <th class="sortable"><%= sortable(column: 'venue', coltitle: 'Name', **@sortable_options) %></th>
        <th class="sortable"><%= sortable(column: 'count', **@sortable_options) %></th>
        <th class="sortable"><%= sortable(column: 'fastest', **@sortable_options) %></th>
        <th class="sortable"><%= sortable(column: 'median', **@sortable_options) %></th>
        <th class="sortable"><%= sortable(column: 'slowest', **@sortable_options) %></th>
        <th class="sortable"><%= sortable(column: 'avg_age', coltitle: 'Average Age', **@sortable_options) %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "venue_stats/screensize/row", collection: @venue_stats, as: :stat %>
    </tbody>
  </table>
</div>