<div class="d-none d-xl-block">
  <table class="table runs-table">
    <thead class="runs-thead">
      <tr>
        <th></th>
        <th class="sortable"><%= sortable(column: 'venue', coltitle: 'Name', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></th>
        <th class="sortable"><%= sortable(column: 'count', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></th>
        <th class="sortable"><%= sortable(column: 'fastest', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></th>
        <th class="sortable"><%= sortable(column: 'median', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></th>
        <th class="sortable"><%= sortable(column: 'slowest', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></th>
        <th class="sortable"><%= sortable(column: 'avg_age', coltitle: 'Average Age', sort_column: @sort_option, sort_direction: @sort_direction, filters: @filters) %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "venue_stats/screensize/row", collection: @venue_stats, as: :stat %>
    </tbody>
  </table>
</div>