<div class="d-none d-md-grid text-muted small align-items-center"
      style="grid-template-columns: 80px 240px 120px 80px 80px 80px 80px 80px 80px;">
  <div class="d-flex align-items-center">
    <div class="badge bg-primary-subtle text-primary-emphasis rounded-pill px-3 py-2 fw-semibold">
      <%= number_with_delimiter(@pagy.offset + index + 1) %>
    </div>
  </div>
  <div class="fw-semibold text-body">
    <%= run.name %>
  </div>
  <div>
    <%= run.parkrun %>
  </div>
  <div>
    <%= run.position %>
  </div>
  <div>
    <%= run.gender %>
  </div>
  <div>
    <%= run.agegroup %>
  </div>
  <div>
    <%= run.runs %>
  </div>
  <div>
    <%= number_to_percentage(run.agegrade, precision: 1) %>
  </div>
  <div class="text-end">
    <%= min_sec_format(run.time) %>
  </div>
</div>
