<%= turbo_frame_tag @venue.parameterize do %>
  <div class="runs-table-wrap <%= 'is-populated' if @link_from %>">
    <%= render 'cancel_button' if @cancel_button %>
    <%= render partial: 'runs/screensize/desktop' %>
    <%= render partial: 'runs/screensize/mobile' %>
    <%= render 'empty_table' if @runs.blank? %>
  </div>
<% end %>
