<%= turbo_frame_tag 'table' do %>
  <div class="canvas gray100-canvas embossed px-md-2 py-2 mb-3">
    <div class=<%= %w[canvas gray100-canvas embossed col col-lg-6 col-xl-4 p-1 mb-2 ('d-xl-none' unless @show_pagy)].join(' ') %>>
      <%= render 'pagination' if @show_pagy%>
      <%= render 'time_search' if @show_pagy%>
      <%= render 'sort_selection' %>
    </div>
    <%= render 'table_content' %>
  </div>
<% end %>
