<div class="container my-4">
  <%= render 'hero' %>
  <%= turbo_frame_tag 'filter_and_data' do %>
    <%= render 'runs/filter/filter_form' %>
    <%= turbo_frame_tag 'data' do %>
      <%= render 'stats' %>
      <%= render 'charts' %>
      <%= render 'table' %>
    <% end %>
  <% end %>

  <%= link_to venue_stats_path do %>
    <i class="bi bi-arrow-left-right"></i>
    Venues
  <% end %>

</div>
