<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Parkrun Pro" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Parkrun Pro">
    <meta name="mobile-web-app-capable" content="yes">
    <%= render 'layouts/opengraph' %>    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

     <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render 'layouts/favicon' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
